h1 {
    color: #FF715B;
    font-family:  Georgia;
    font-size: 80px;
    text-shadow: 2px 2px red;
}

h2{
    color: #FF715B;
    font-family:  "Papyrus", fantasy;
}

p {
    font-family: Monaco;
    font-size: 15px;
    color: #ea4127;
}

h3{
color: #FF715B;
font-family: "Papyrus", fantasy;
}

h4{
color: #FF715B;
font-family: "Papyrus", fantasy;
}
h5{
    color: #c4331d;
    font-family: "Papyrus", fantasy;
}

.box{
    height: 550px;
    width: 300px;
    padding: 20px;
    margin: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid black;
    background-color: #A8C7BB;
    background-image: url("IMG_2529.jpg");
    
    
}



.boxx{
    height: 150px;
    width: 300px;
    padding: 20px;
    margin: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    background-color: #A8C7BB;
    
}

.boxxx{
    height: 50px;
    width: 200px;
    padding: 20px;
    margin: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    background-color: #A8C7BB;
    
}

.boxxxx{
    height: 300px;
    width: 100%;
    padding: 20px;
    
    display: block;
   
    border: 5px solid black;
    background-color: #A8C7BB;
    
}

.content{
    background-color: #2D3047;
    text-align: center;
    
   
}